[Unit]
Description=HomerPi Application
After=graphical.target systemd-user-sessions.service plymouth-quit-wait.service

[Service]
Type=simple
User=${FIRST_USER_NAME}
WorkingDirectory=/home/${FIRST_USER_NAME}/Software
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/${FIRST_USER_NAME}/.Xauthority"
ExecStart=/usr/bin/python3 /home/${FIRST_USER_NAME}/Software/main.py
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical.target
